#create a new directory and enter it
function md() {
  mkdir -p "$@" && cd "$@"
}

# find shorthand
function f() {
    find . -name "$1"
}

# find in files
function fif() {
  find . -type f -exec grep -i "$1" {} \; -print
}

function whatever() {
  echo 'my buddy and me'
}
